<!-- BEGIN_INCLUDE(splunk:get-applications) -->
    <splunk:get-applications />
<!-- END_INCLUDE(splunk:get-applications) -->
<!-- BEGIN_INCLUDE(splunk:get-jobs) -->
    <splunk:get-jobs />
<!-- END_INCLUDE(splunk:get-jobs) -->
<!-- BEGIN_INCLUDE(splunk:run-search) -->
    <splunk:run-search searchQuery="#[payload.searchQuery]" executionMode="#[payload.executionMode]"/>
<!-- END_INCLUDE(splunk:run-search) -->
<!-- BEGIN_INCLUDE(splunk:get-saved-searches) -->
    <splunk:get-saved-searches />
<!-- END_INCLUDE(splunk:get-saved-searches) -->
<!-- BEGIN_INCLUDE(splunk:create-saved-searches) -->
    <splunk:create-saved-searches searchName="#[map-payload:searchName]" searchQuery="#[map-payload:searchQuery]" />
<!-- END_INCLUDE(splunk:create-saved-searches) -->
<!-- BEGIN_INCLUDE(splunk:view-saved-search) -->
    <splunk:view-saved-search searchName="#[map-payload:searchName]" />
<!-- END_INCLUDE(splunk:view-saved-search) -->
<!-- BEGIN_INCLUDE(splunk:get-saved-search-history) -->
    <splunk:get-saved-search-history searchName="#[map-payload:searchName]" />
<!-- END_INCLUDE(splunk:get-saved-search-history) -->
<!-- BEGIN_INCLUDE(splunk:run-job) -->
    <splunk:run-job searchName="#[map-payload:searchName]" />
<!-- END_INCLUDE(splunk:run-job) -->
<!-- BEGIN_INCLUDE(splunk:run-saved-search-with-arguments) -->
    <splunk:run-saved-search-with-arguments searchName="#[payload.searchName]" searchQuery="#[payload.searchQuery]">
            <splunk:custom-args ref="#[payload.customArgs]" />
            <splunk:search-dispatch-args ref="#[payload.searchDispatchArgs]" />
    </splunk:run-saved-search-with-arguments>
<!-- END_INCLUDE(splunk:run-saved-search-with-arguments) -->
<!-- BEGIN_INCLUDE(splunk:run-one-shot-search) -->
    <splunk:run-one-shot-search searchQuery="#[payload.searchQuery]"
                                    earliestTime="#[payload.earliestTime]" latestTime="#[payload.earliestTime]" />
<!-- END_INCLUDE(splunk:run-one-shot-search) -->
<!-- BEGIN_INCLUDE(splunk:run-realtime-search) -->
    <splunk:run-realtime-search searchQuery="">
                <splunk:job-args ref="#[payload.jobArgs]"/>
                <splunk:preview-args ref="#[payload.previewArgs]"/>
    </splunk:run-realtime-search>
<!-- END_INCLUDE(splunk:run-realtime-search) -->
<!-- BEGIN_INCLUDE(splunk:run-export-search) -->
     <splunk:run-export-search searchQuery="#[payload.searchQuery]">
            <splunk:export-args ref="#[payload.exportArgs]" />
     </splunk:run-export-search>
<!-- END_INCLUDE(splunk:run-export-search) -->